body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "nav nav" "section section " "aside aside" "footer footer ";
  grid-gap: 0.5em 1em;
}

@media screen and (min-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav  nav" "section  aside" "footer  footer";
    grid-gap: 1em 2em;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 768px) {
  footer {
    display: block;
    float: none;
    text-align: center;
  }
  body {
    margin-bottom: 4em;
  }
}

nav {
  background-color: #777;
  grid-area: nav;
}

section {
  animation: fadeIn 0.5s;
  grid-area: section;
}

.container{
  animation: fadeIn 0.5s;
  margin: 0.5em;
  background-color: rgb(31, 44, 24,0.9);
  color: #C4CFBE;
}

article {
  animation: fadeIn 0.5s;
  background-color: #ddd;
  grid-area: article;
  background-color: rgba(31, 44, 24 ,0.9);
}

aside {
  animation: fadeIn 0.5s;
  background-color: #ddd;
  grid-area: aside;
    background-color: rgba(31, 44, 24 ,0.9);
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ddd;
  background-color: rgba(31, 44, 24,0.9);

}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
